<section id="add">
	<form action="/" method="post">
		<p>Report Month:</p>
		<input type="text" name="reportmonth"><br>
		<p>Report Year:</p>
		<input type="text" name="reportyear"><br>
		<p>Local Backup:</p>
		<input type="checkbox" name="localbackup">
		<p>SharePoint Created:</p>
		<input type="checkbox" name="sharepointcreated">
		<p>SharePoint Used:</p>
		<input type="checkbox" name="sharepointused">
		<p>Email Backup:</p>
		<input type="checkbox" name="emailbackup">
		<p>Migration Timeline:</p>
		<input type="text" name="migrationtimeline"><br>
		<input type="submit" value="Enter Report!">
	</form>
</section>

<% @report.each do |report| %>  
  <p><%= report.localbackup%></p>
  <p><%= report.sharepointcreated%></p>
  <p><%= report.sharepointused%></p>
  <p><%= report.emailbackup%></p>
  <p><%= report.migrationtimeline%></p>
<% end %>  
