<section id="add">
	<form action="/" method="post">
		<p>Project Code:</p>
		<input type="text" name="projectcode"><br>
		<p>Report Month:</p>
		<input type="text" name="reportmonth"><br>
		<p>Report Year:</p>
		<input type="text" name="reportyear"><br>
		<p>Local Backup:</p>
		<input type="checkbox" name="localbackup">
		<p>SharePoint Created:</p>
		<input type="checkbox" name="sharepointcreated">
		<p>SharePoint Used:</p>
		<input type="checkbox" name="sharepointused">
		<p>Email Backup:</p>
		<input type="checkbox" name="emailbackup">
		<p>Migration Timeline:</p>
		<input type="text" name="migrationtimeline"><br>
		<input type="submit" value="Enter Report!">
	</form>
</section>

<table>
  <tr>
  	<th>Project Code </th>
  	<th>Report Month </th>
  	<th>Report Year </th>
  	<th>Local Backup Performed </th>
  	<th>SharePoint Site Created </th>
  	<th>SharePoint Site Used </th>
  	<th>Email Backups Performed </th>
  	<th>Email Migration Timeline </th>
  </tr>
<% @report.each do |report| %> 
	<tr>
	  <td><%= report.projectcode %></td> 
  	  <td><%= report.reportmonth %></td> 
  	  <td><%= report.reportyear %></td>
  	  <td><%= report.localbackup %></td>
  	  <td><%= report.sharepointcreated %></td>
  	  <td><%= report.sharepointused %></td>
  	  <td><%= report.emailbackup %></td>
  	  <td><%= report.migrationtimeline %></td>
  	  <td><span><a href="/<%= report.id %>">[edit]</a></span></td>
   </tr>
<% end %>
</table>  
